<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.15.3/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/productdetail.css}">
</head>

<body>
<!-- header -->
<div class="p-2">
    <div th:replace="fragments/headerwithuser :: headerwithuser">Header</div>
    <!-- navbar start -->
    <div th:replace="fragments/navbar :: navbar">Nav Bar</div>
    <!-- navbar end -->
</div>
<!-- header end -->
<div>
    <h3 class="text-center">Product Details</h3>
</div>
<div>
    <!-- Products items start -->
    <div class="row m-4">
        <div class="col-4 card">
            ​<img src="../static/images/productdetail.JPG" th:src="@{images/productdetail.JPG}" class="img-fluid"
                  alt="Product">
            <div class="card-body text-center">
                <a th:href="@{/cart}" class="btn btn-warning btn-sm">Add To Cart</a>
                <a th:href="@{/buynow}" class="btn btn-primary btn-sm">Buy Now</a>
            </div>
        </div>
        <div class="col-8 p-2 border">
            <div class="row p-4">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Product One</td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <td>Product Model One</td>
                    </tr>
                    <tr>
                        <th>MRP</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Offer</th>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>80</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-8">
                    <form class="row gy-2 gx-3 align-items-center">
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInput">Name</label>
                            <input type="text" class="form-control" id="autoSizingInput" placeholder="Zipcode">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Check Deliverable</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" mt-2 border">
    <div class="row p-4">
        <div class="col-4">
            <h5 class="text-center"><b>Duration</b></h5>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>Product One</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>Product Model One</td>
                </tr>
                <tr>
                    <th>MRP</th>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Offer</th>
                    <td>20%</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>80</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h5 class="text-center"><b>Description</b></h5>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>Product One</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>Product Model One</td>
                </tr>
                <tr>
                    <th>MRP</th>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Offer</th>
                    <td>20%</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>80</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h5 class="text-center"><b>Specification</b></h5>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>Product One</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>Product Model One</td>
                </tr>
                <tr>
                    <th>MRP</th>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Offer</th>
                    <td>20%</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>80</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Products items End-->
<!-- Script -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/font-awesome/5.15.3/js/all.min.js}"></script>

</body>

</html>