<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitra</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.15.3/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <!-- Products items start ------------------------>
    <div class="text-center">
        <h3>Sign Up</h3>
    </div>
    <div class="row p-4">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="#" th:action="@{/signup}" th:object="${userDetail}" method="post" class="row g-3">
                <div class="row p-2 ">
                    <label for="firstName" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{firstName}" class="form-control form-control-sm" id="firstName"
                            placeholder="Full Name">
                    </div>
                </div>
                <div class="row p-2 ">
                    <label for="emailId" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                    <div class="col-sm-10">
                        <input type="email" th:field="*{emailId}" class="form-control form-control-sm" id="emailId"
                            placeholder="example@mail.com">
                    </div>
                </div>
                <div class="row p-2 ">
                    <label for="phoneNumber" class="col-sm-2 col-form-label col-form-label-sm">Mobile</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{phoneNumber}" class="form-control form-control-sm" id="phoneNumber"
                               placeholder="mobile">
                    </div>
                </div>
                <div class="row p-2 ">
                    <label for="dob" class="col-sm-2 col-form-label col-form-label-sm">DOB</label>
                    <div class="col-sm-10">
                        <input type="date" th:field="*{dob}" class="form-control form-control-sm" id="dob"
                            placeholder="dob">
                    </div>
                </div>
                <div class="row p-2">
                    <label for="password" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
                    <div class="col-sm-10">
                        <input type="password" th:field="*{password}" class="form-control form-control-sm" id="password">
                    </div>
                </div>
                <div class="row p-2">
                    <label for="rePassword" class="col-sm-2  col-form-label col-form-label-sm">Re-Password</label>
                    <div class="col-sm-10">
                        <input type="password" th:field="*{rePassword}" class="form-control form-control-sm" id="rePassword">
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <!-- Products items End -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
</body>

</html>